::-webkit-scrollbar{
    display: none;
}
*{
    margin:0;
    padding:0;
}
#header a{
    color:white;
    text-decoration: none;
}
#header>ul>li:nth-of-type(1)>a>span{
    font-size: 25px;
}
.clear:after{
    content:"";
    display: block;
    clear:both;
}
ul{
    margin:0;
}
#nav>ul{
    margin-top: 15px;
    background-color: #6395C6;
    /*height:530px ;*/
    /*border: 1px solid crimson;*/
}
#nav li{
    text-align: center;
    /*margin-bottom: 50px;*/
    /*background-color: white;*/
    background-color: transparent;
    width: 1.6rem;
    margin: 0 auto .5rem;
}
#nav li>a{
    /*color:#89CAD5 ;*/
    color:white;
    font-size: 20px;
}
#nav li>a>span{
    margin-right: 15px;
    font-size: 20px;
}
#nav li:nth-of-type(1){
    /*margin-bottom:100px;*/
}
#nav a{
    text-decoration: none;
}
iframe{
    padding: 20px 0 0 20px;
}
#logo>img{
    height: 60px;
}
#touxiang{
    width: 40px ;
    height:40px;
}

